@{
  Layout = "_Layout";
}

@using BeerAvailability.Models;
@model List<BeerAvailability.Models.Store>;

<h1>Stores:</h1>

@if (@Model.Count == 0)
{
  <h3>No stores have been added yet!</h3>
} 
else
{
  var sortedList = Model.OrderBy(store => store.Name);  
  foreach(var store in sortedList)
  {
    <p>@Html.ActionLink($"{store.Name}", "Details", new { id = store.StoreId })</p>  
  }
}

<p>@Html.ActionLink("Add New Store", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
